@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-size: 14px;
  color: #ce9797;
  background: linear-gradient(135deg, white, #fff5f5);
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 14px;
}

p {
  line-height: 1.7;
}

.none {
  display: none;
}

header {
  width: 100%;
}

.header-container {
  width: 80%;
  margin: auto;
}

.header-container img {
  margin: 2em 0;
}

.hero-mob {
  width: 100vw;
}

.hero-desk {
  display: none;
}

.main {
  text-align: center;
}

.main-wrapper {
  width: 80%;
  margin: auto;
}

.main-wrapper p {
  margin-top: 1em;
}

.desk-logo {
  display: none;
}

.main-header {
  margin-top: 2em;
  color: #413a3a;
}

.main-header span {
  font-weight: 300;
  color: #ce9797;
}

.main-form {
  display: block;
  margin-top: 2.5em;
  position: relative;
  text-align: left;
}

.main-form input {
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px 25px;
  width: calc(100%);
  font-size: 1.1em;
  color: #413a3a;
  border: 1px solid #ce9797;
  border-radius: 100px;
  background-color: transparent;
  vertical-align: middle;
}

.main-form input::-webkit-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
  font-size: 1.1em;
}

.main-form input:-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
  font-size: 1.1em;
}

.main-form input::-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
  font-size: 1.1em;
}

.main-form input::placeholder {
  color: rgba(206, 151, 151, 0.5);
  font-size: 1.1em;
}

.main-form p {
  color: #f96262;
  margin: 0.5em 0 0 25px;
  font-size: 0.9em;
}

.main-form button {
  position: absolute;
  height: 49px;
  width: 70px;
  right: 0;
  border-radius: 100px;
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0 10px 15px 1px rgba(249, 98, 98, 0.2);
          box-shadow: 0 10px 15px 1px rgba(249, 98, 98, 0.2);
  cursor: pointer;
}

.main-form button img {
  vertical-align: middle;
}

.main-form .warning-img {
  position: absolute;
  right: 80px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media screen and (min-width: 813px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
  }
  .header-container {
    display: none;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero-mob {
    display: none;
  }
  .hero-desk {
    display: block;
    height: 100vh;
    justify-self: flex-start;
  }
  .desk-logo {
    display: block;
  }
  .main {
    background: url("/images/bg-pattern-desktop.svg") no-repeat;
    text-align: left;
  }
  .main-wrapper {
    width: 53%;
    margin: 4rem auto auto 20%;
  }
}
/*# sourceMappingURL=main.css.map */